* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    padding         : 10px;
    text-align      : center;
}

/* Style the top navigation bar */
.topnav {
    text-align     : left;
}

.content {
    width: 100%;
    background: var(--surface-e);
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.footer {
  text-align: center;
  padding: 5px;
}